<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TetrominoI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,128}</string>
                <key>spriteSourceSize</key>
                <string>{32,128}</string>
                <key>textureRect</key>
                <string>{{67,133},{32,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TetrominoJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,96}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{1,67},{64,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TetrominoL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TetrominoO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,133},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TetrominoS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,96}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{1,199},{64,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TetrominoT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,96}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{1,297},{64,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TetrominoZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,96}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{1,363},{64,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bricks_Basic.png</string>
            <key>size</key>
            <string>{100,428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d969bf9c2cf1fca1511693fda5bf4df:515d2168f27d9b1a5fa65383606ba1d9:caa60fd63692125b90043888f70b0d27$</string>
            <key>textureFileName</key>
            <string>Bricks_Basic.png</string>
        </dict>
    </dict>
</plist>
