<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TetrominoI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,64}</string>
                <key>spriteSourceSize</key>
                <string>{16,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{16,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TetrominoJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{35,67},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TetrominoL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{69,67},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TetrominoO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{87,1},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TetrominoS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{53,1},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TetrominoT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{19,1},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TetrominoZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,67},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bricks_Basic.png</string>
            <key>size</key>
            <string>{120,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1e04b4ec09c9671b5473f6259ee4167:c9a4a2411d010903d3503430992af996:caa60fd63692125b90043888f70b0d27$</string>
            <key>textureFileName</key>
            <string>Bricks_Basic.png</string>
        </dict>
    </dict>
</plist>
